body {
    font-family: 'Trebuchet MS', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #086c3d;
    color: #fff;
    padding: 0.5px;
    text-align: center;
    margin: 0;
    font-size: larger;
}
nav {
    background-color: #689676;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: medium;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
section {
    margin: 50;
}
footer {
    background-color: #689676;
    color: #fff;
    padding: 1.5x ;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.opening-image {
    width: 40%;
    float: left;
    margin: 15px;
}

.images {
    float: left;
    width: 40%;
    margin: 15px;
}

.phylo-image {
    width: 80%;
}

.plastid-image {
    width: 100%;
}

.FN {
    width: 40%;
    float:right;
    padding: 1.5em;
}

.mitigation {
    width: 100%;

}

.bloom {
    width: 45%;
    float: inline-end;
    padding: 1.5em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.page-header {
    font-size: 1.75em
}

a {
    color: #086c3d;
}

.references {
    font-size: small;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}