
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #00532c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #689676;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
}
footer {
    background-color: #689676;
    color: #fff;
    padding: 1px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.images {
    width: 30%;
}