

body {
    font-family: 'Trebuchet MS', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #086c3d;
    color: #fff;
    padding: 0.5px;
    text-align: center;
    margin: 0;
    font-size:x-large;
}
nav {
    background-color: #689676;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: medium;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
section {
    margin: 50;
}
footer {
    background-color: #689676;
    color: #fff;
    padding: 1.5x ;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.images {
    float: right;
    width: 40%;
    margin: 15px;
}

.phylo-image {
    width: 80%;
}

.plastid-image {
    width: 100%;
}

.FN {
    width: 40%;
    float:right;
    padding: 1.5em;
}

.mitigation {
    width: 100%;

}

.bloom {
    width: 45%;
    float: inline-end;
    padding: 1.5em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page-header {
    font-size: 1.75em;
    font-family: "Poetsen One", sans-serif;
}
h3 {
    font-size: 1.2em;
    font-family: "Poetsen One", sans-serif;
}

a {
    color: #086c3d;
}

.references {
    font-size: small;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px;
    padding: 1.5em; /* Space between images */
}

.grid-container img {
    width: 100%; /* Makes images fill the cell */
    height: auto; /* Keeps the aspect ratio of images */
}

.circle-image {
    width: 50%;
    height: 40%;     
    border-radius: 50%;
    object-fit: cover; 
    max-width: 900px;
}

.home-section {
    margin: 20%;
    margin-top: 0;
}

.cyano-types {
    width: 50%;
    float: right;
    padding: 1.5em;
}
